.box {
  margin: 20px auto;
  padding: 20px 10px;
  position: relative;
  border-top: 1px dashed #ccc;
}

button {
  margin: 0 10px 0 0;
  padding: 5px 8px;
  border-radius: 5px;

  &.disable {
    cursor: not-allowed;
  }
}

#startBtn {
  display: block;
  margin-top: 20px;
}

#topicPrint {
  min-width: 10px;
  width: auto;
  display: inline-block;
  font-size: 22px;
  color: fuchsia;
}

#countDownNum {
  padding: 20px;
  width: 100px;
  height: 100px;
  // min-height: 50px;
  color: yellow;
  font-size: 36px;
  margin: 20px 0;
  background-color: Black;
  border-radius: 50%;
  text-align: center;
}

#draw {
  border: 1px solid #000;
  &.drawFinish {
    background-color: red;
  }
}