.container{
  padding: 0 80px; 
}
.card{
  box-sizing: border-box;
  width: 400px;
  padding: 10px;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100px;
  .card-title{
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
    line-break: break-all;
  }
  .half1{
    flex: 1;
    // text-align: center;
  }
  .half2 {
    flex: 2;
    // text-align: center;
  }
}
button{
  margin: 0 10px 0 0;
  padding: 5px 8px;
  border-radius: 5px;
  &.disable{
    cursor: not-allowed;
  }
}
#startBtn{
  position: absolute;
  bottom: 20px;
  left: 10%;
}
#topicPrint{
  min-width: 10px;
  width: auto;
  display: inline-block;
  font-size: 18px;
  color: fuchsia;
}
#countDownNum{
  width: 100%;
  min-height: 50px;
  color: red;
  font-size: 36px;
  margin: 20px 0;
  text-align: center;
}